*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
135deg,
#000,
#8b6500
);


color:white;

}



.container{

text-align:center;

background:rgba(255,255,255,.1);

padding:40px;

border-radius:20px;

}



h1{

color:#ffd700;

margin-bottom:30px;

}



input{

width:300px;

padding:15px;

border-radius:30px;

border:none;

}



button{

padding:15px 35px;

border-radius:30px;

border:none;

background:#ffd700;

margin:20px;

cursor:pointer;

}



#result{

margin-top:20px;

font-size:22px;

}